/** @format */

:root {
  /* Define your custom color variables */
  --primary-color: #42b883; /* Vue's default green */
  --secondary-color: #35495e; /* Vue's default dark blue */
  /* Change these colors to your preferred ones */
}

/* Apply colors to elements */
body {
  color: var(--secondary-color);
}

a {
  color: var(--primary-color);
}

/* Add more styling as needed */
